In [1]:
import pandas as pd
data = pd.read_csv(r"../data/raw/cleaned_speakers_data.csv")
data.head()

,user_id,session_id,sign_in,name,demographic_age,demographic_age_group,demographic_gender,email,location,country,...,pages_visited,conversion_flag,conversion_type,traffic_source,product_purchased,revenue,payment_type,card_type,coupon_applied,bounce_flag
0,U10477,S000001,Email,Victor Navarro-Noël,31,Adult,Female,victornavarronoël251@hotmail.com,Rome,Italy,...,7,0,NCT,Organic,NPP,0.0,NPT,NCAT,ND,1
1,U01536,S000002,Email,王秀云,39,Adult,Female,王秀云617@gmail.com,Madrid,Spain,...,5,0,NCT,Social,NPP,0.0,NPT,NCAT,ND,0
2,U00107,S000003,Guest,Ucchal Sabharwal,68,Old,Male,Not Provided,Manchester,UK,...,7,0,NCT,Organic,NPP,0.0,NPT,NCAT,ND,0
3,U13886,S000004,Email,Virginie Schmitt,72,Old,Female,virginieschmitt827@gmail.com,Sydney,Australia,...,10,0,NCT,Social,NPP,0.0,NPT,NCAT,ND,0
4,U05926,S000005,Email,Cynthia Drake,51,Adult,No Answer,cynthiadrake47@hotmail.com,Mumbai,India,...,6,0,NCT,Organic,NPP,0.0,NPT,NCAT,ND,0

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   user_id                30000 non-null  object
 1   session_id             30000 non-null  object
 2   sign_in                30000 non-null  object
 3   name                   30000 non-null  object
 4   demographic_age        30000 non-null  int64
 5   demographic_age_group  30000 non-null  object
 6   demographic_gender     30000 non-null  object
 7   email                  30000 non-null  object
 8   location               30000 non-null  object
 9   country                30000 non-null  object
 10  device_type            30000 non-null  object
 11  timestamp              30000 non-null  object
 12  variant_group          30000 non-null  object
 13  time_spent             30000 non-null  float64
 14  pages_visited          30000 non-null  int64
 15  conversion_flag        30000 non-null  int64
 16  conversion_type        30000 non-null  object
 17  traffic_source         30000 non-null  object
 18  product_purchased      30000 non-null  object
 19  revenue                30000 non-null  float64
 20  payment_type           30000 non-null  object
 21  card_type              30000 non-null  object
 22  coupon_applied         30000 non-null  object
 23  bounce_flag            30000 non-null  int64
dtypes: float64(2), int64(4), object(18)
memory usage: 5.5+ MB